# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.pyc
*.db
*.sqlite3

# Виртуальное окружение
.venv
venv
env
*.env
*.ini
*.dll

# FastAPI
*.log
nohup.out

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?